@import url('https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro');

/* --------------- All --------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

/* --------------- Layout --------------- */

.grid { display: grid; }

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: auto auto;
    grid-template-rows: 300px auto auto 40px;
}

/* --------------- Header --------------- */

.siteheader {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/headimg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    color: #FFFFFF;


    grid-template-columns: 0 auto;
    grid-template-rows: 73px 100px 100px 50px;
}

.head,
.head2 {
    font-size: 60px;
    text-align: center;
    color: #E0FFFF;
}

.gitlink {
    color: #E0FFFF;
    text-decoration: none;
    grid-column: 1 / 3;
    grid-row: 1 / 1;
}

.head {
    grid-column: 1 / 3;
    grid-row: 2 / 2;
}

.head2 {
    font-size: 35px;
    grid-column: 1 / 3;
    grid-row: 3 / 3;
}


/* --------------- Navbar  --------------- */

.topnav {
    display: grid;
    background-color: rgba(51, 51, 51, 0);
    overflow: hidden;
    grid-column: 1 / 4;
    grid-row: 2 / 2;
    text-align: center;
    position: relative;
    bottom: 50px;
  }

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: white;
  color: black;
}

.topnav .icon {
  display: none;
}

/* --------------- Home  --------------- */

.main {
    background-color: #FFFFFF;
    grid-column: 2 / 2;
    grid-row: 3 / 4;
    min-height: 580px;
    max-width: 1010px;
    margin: 0 auto;
    padding: 50px 30px;
}

.homepage_row {
    display: flex;
    flex-direction: row;
}

/* --------------- About  --------------- */

.php_img {
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

/* --------------- Game  --------------- */

.flowchart {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.game_ground {
    display: flex;
    flex-direction: row;
    width: 800px;
}

.game_ground div {
    margin-right: 50px;
}

.start_button {
    margin-left: auto;
    margin-right: auto;
    width: 130px;
}

.start_button a,
.game_buttons div input {
    appearance: none;
    background-color: hsl(131, 68%, 29%);
    /*border: 2px solid #1A1A1A;*/
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-left: 0;
    margin-right: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.start_button a:disabled,
.game_buttons div input:disabled  {
    pointer-events: none;
}

.start_button a:hover,
.game_buttons div input:hover  {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.start_button a:active,
.game_buttons div input:active  {
    box-shadow: none;
    transform: translateY(0);
}

.game_buttons {
    margin-top: 30px;
}

.game_buttons div {
    margin: 10px 10px 10px 0;
}

/**
 * CSS sprite for deck.
 */
 .card-sprite {
    display: inline-block;
    padding: 0;
    margin: 0 4px 0 0;
    width: 130px;
    height: 176px;
    background: url(../img/allakort.JPG) no-repeat;
    border-radius: 5px;
}

.card-sprite.KloverEss { background-position: -10px -11px; }
.card-sprite.Klover2 { background-position: -145px -11px; }
.card-sprite.Klover3 { background-position: -279px -11px; }
.card-sprite.Klover4 { background-position: -414px -11px; }
.card-sprite.Klover5 { background-position: -548px -11px; }
.card-sprite.Klover6 { background-position: -683px -11px; }
.card-sprite.Klover7 { background-position: -817px -11px; }
.card-sprite.Klover8 { background-position: -951px -11px; }
.card-sprite.Klover9 { background-position: -1085px -11px; }
.card-sprite.Klover10 { background-position: -1220px -11px; }
.card-sprite.KloverKnekt { background-position: -1355px -11px; }
.card-sprite.KloverDam { background-position: -1489px -11px; }
.card-sprite.KloverKung { background-position: -1624px -11px; }
.card-sprite.SpaderEss { background-position: -10px -191px; }
.card-sprite.Spader2 { background-position: -145px -191px; }
.card-sprite.Spader3 { background-position: -279px -191px; }
.card-sprite.Spader4 { background-position: -414px -191px; }
.card-sprite.Spader5 { background-position: -548px -191px; }
.card-sprite.Spader6 { background-position: -683px -191px; }
.card-sprite.Spader7 { background-position: -817px -191px; }
.card-sprite.Spader8 { background-position: -951px -191px; }
.card-sprite.Spader9 { background-position: -1085px -191px; }
.card-sprite.Spader10 { background-position: -1220px -191px; }
.card-sprite.SpaderKnekt { background-position: -1355px -191px; }
.card-sprite.SpaderDam { background-position: -1489px -191px; }
.card-sprite.SpaderKung { background-position: -1624px -191px; }
.card-sprite.HjarterEss { background-position: -10px -372px; }
.card-sprite.Hjarter2 { background-position: -145px -372px; }
.card-sprite.Hjarter3 { background-position: -279px -372px; }
.card-sprite.Hjarter4 { background-position: -414px -372px; }
.card-sprite.Hjarter5 { background-position: -548px -372px; }
.card-sprite.Hjarter6 { background-position: -683px -372px; }
.card-sprite.Hjarter7 { background-position: -817px -372px; }
.card-sprite.Hjarter8 { background-position: -951px -372px; }
.card-sprite.Hjarter9 { background-position: -1085px -372px; }
.card-sprite.Hjarter10 { background-position: -1220px -372px; }
.card-sprite.HjarterKnekt { background-position: -1355px -372px; }
.card-sprite.HjarterDam { background-position: -1489px -372px; }
.card-sprite.HjarterKung { background-position: -1624px -372px; }
.card-sprite.RuterEss { background-position: -10px -552px; }
.card-sprite.Ruter2 { background-position: -145px -552px; }
.card-sprite.Ruter3 { background-position: -279px -552px; }
.card-sprite.Ruter4 { background-position: -414px -552px; }
.card-sprite.Ruter5 { background-position: -548px -552px; }
.card-sprite.Ruter6 { background-position: -683px -552px; }
.card-sprite.Ruter7 { background-position: -817px -552px; }
.card-sprite.Ruter8 { background-position: -951px -552px; }
.card-sprite.Ruter9 { background-position: -1085px -552px; }
.card-sprite.Ruter10 { background-position: -1220px -552px; }
.card-sprite.RuterKnekt { background-position: -1355px -552px; }
.card-sprite.RuterDam { background-position: -1489px -552px; }
.card-sprite.RuterKung { background-position:-1624px -552px; }

/* --------------- Bibliotek  --------------- */

.books_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.book_item {
    max-width: 200px;
}

.book_item a {
    text-decoration: none;
    color: black;
}

.form_book {
    text-align: left;
    width: 600px;
}

#library_button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }

  #library_button:hover {
    background-color: #45a049;
  }

  #library_button.blue_button {
    background-color: #008ee1 !important;
  }

  #library_button.blue_button:hover {
    background-color: #0077bb !important;
  }

  #library_button.red_button {
    background-color: #e10000 !important;
  }

  #library_button.red_button:hover {
    background-color: #b10000 !important;
  }

/* --------------- Användare  --------------- */

.user_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.user_item {
    max-width: 200px;
    /*text-align: center;*/
}

.user_item a {
    text-decoration: none;
    color: black;
}

.form_user {
    text-align: left;
    width: 600px;
}

#user_button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 16px;
  }

  #user_button:hover {
    background-color: #45a049;
  }

  #user_button.blue_button {
    background-color: #008ee1 !important;
  }

  #user_button.blue_button:hover {
    background-color: #0077bb !important;
  }

  #user_button.red_button {
    background-color: #e10000 !important;
  }

  #user_button.red_button:hover {
    background-color: #b10000 !important;
  }

/* --------------- Bibliotek & Användare --------------- */

.input,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.update_delete_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
}

/* --------------- Poker --------------- */

.pokerlogin {
    min-height: 580px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.pokerhtml { 
    background: url("../img/pokerimage.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.poker_user_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.poker_user_container a {
    color: 'white';
    text-decoration: none;
}

.poker_user_container a:visited,
.game_flex a {
    color: rgb(242, 242, 20);
}

.poker_user_container a:hover {
    color: rgb(255, 255, 255);
}

.poker_user_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.poker_user_item div p {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.poker_form_user {
    text-align: left;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.poker_form_user p label,
.poker_form_user div label,
.poker_form_user div p {
    color: white;
}

#poker_user_button {
    width: 200px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 16px;
}

#poker_user_button:hover {
    background-color: #45a049;
}

#poker_user_button.poker_blue_button {
    background-color: #008ee1 !important;
}

#poker_user_button.poker_blue_button:hover {
    background-color: #0077bb !important;
}

#poker_user_button.poker_red_button {
    background-color: #e10000 !important;
}

#poker_user_button.poker_red_button:hover {
    background-color: #b10000 !important;
}

.input_poker,
.select_poker {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.update_delete_buttons_poker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
}

.poker_user {
    background: url("../img/green-poker.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    min-height: 528px;
    max-width: 1084px;
    margin: 0 auto;
    padding: 50px 30px;
    margin-top: 150px;
    border-radius: 352px;
    border-style: solid;
    border-width: 8px;
    border-color: black;
}

.poker_game {
    background: url("../img/green-poker.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    height: 628px;
    width: 1084px;
    margin: 0 auto;
    padding: 0 30px;
    margin-top: 150px;
    border-radius: 352px;
    border-style: solid;
    border-width: 8px;
    border-color: black;
}

.pot_cards {
    margin: 30px 160px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.game_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.game_flex a {
    color: rgb(153, 153, 153);
    text-decoration: none;
}

/* --------------- Footer --------------- */

.sitefooter {
    grid-row: 4 / 4;
    grid-column: 1 / 4;

    background-color: rgba(0, 0, 0, 0.7);
    color: #F5FFFA;
}

.foot {
    text-align: center;
    position: relative; top: 10px;
}

/* --------------- Responsiveness --------------- */

@media screen and (max-width: 920px) {
    .siteheader {
        grid-template-rows: 50px 140px 65px 50px;
        padding: 1em;
    }

    .head {
        line-height: 3.5rem;
    }
}

@media screen and (max-width: 500px) {
    .head {
        font-size: 40px;
    }

    .head2 {
        font-size: 15px;
    }

    .homepage_row {
        flex-direction: column;
    }

    nav a {
        margin: 17px 0;
    }
}

@media screen and (max-width: 920px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    .topnav {
        background-color: rgb(48, 48, 48);
        position: relative;
        bottom: 0;
        display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .topnav a.active {
        background-color: #008ee1;
        color: white !important;
      }
}

  @media screen and (max-width: 730px) {
    .form_user {
        width: 270px;
    }
}
