{% extends "base.html.twig" %}

{% block title %}Draw{% endblock %}

{% block content %}

{% if api == null %}
    <h2>Korten tog slut!</h2>
    <a href="{{ path('api-shuffle') }}">Dra nya</a>
{% endif %}

{% if api != null %}
    <pre>{{ api }}</pre>
{% endif %}

{% endblock %}
