{% extends 'base.html.twig' %}

{% block title %}Add Book{% endblock %}

{% block content %}

<div class="main" style="text-align: center;">
    <h1>{{ title }}</h1><br>

<form class="form_book" method="post">
    <p>
        <label><b>Titel</b></label><br>
        <input class="input" type="text" name="title" value="" Required><br><br>
    </p>
    <p>
        <label><b>Författare</b></label><br>
        <input class="input" type="text" name="author" value="" Required><br><br>
    </p>
    <p>
        <label><b>ISBN (13 siffror)</b></label><br>
        <input class="input" type="string" minlength="13" maxlength="13" name="ISBN" value="" Required><br><br>
    </p>
    <p>
        <label><b>Webbadress till bild</b></label><br>
        <input class="input" type="url" name="Image" value=""><br><br>
    </p>
    <p>
        <input id="library_button" type="submit" value="Create">
    </p>
</form>

</div>
{% endblock %}
