{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}


<div class="homepage_row">
    <div>
        <h1 style="margin-bottom: 0;">Startsida</h1>
        <p>Jag och min sambo flyttade till Karlskrona för ett par år sedan då hon fick jobb i Marinens Musikkår.
        Jag är i grunden också musiker(cellist), fick min master från Kungliga Musikhögskolan i Stockholm och har de senaste åren jobbat runt i de olika symfoniorkestrarna i Sverige.
        När coronan kom så ställdes alla jobb in och jag hittade en intressant utbildning på BTH som jag nu läser första året på.
        Det jag tycker har varit roligast hittills är nog databaskursen och pythonkurserna, å andra sidan har det än så länge i programmet inte funnits något som inte har varit roligt eller intressant.</p>
    </div>
    <img src="{{ asset("img/me.JPG") }}" width="200px" height="200px" style="margin: 20px 20px" alt="bild på mig">
</div>


{% endblock %}
