{% extends 'pokerbase.html.twig' %}

{% block title %}Logga in{% endblock %}

{% block content %}

<div class="poker_user" style="text-align: center;">
    <div class="poker_user_container">
        <a href="{{ path('login_poker') }}">Spelet</a>
        <a href="{{ path('home') }}">Reportsidan</a>
        <a href="http://www.student.bth.se/~viai20/dbwebb-kurser/mvc/me/report/docs/metrics/">Metrics</a>
        <a href="http://www.student.bth.se/~viai20/dbwebb-kurser/mvc/me/report/docs/api/">phpdocs</a>
    </div><br><br>
    <h1>Om projektet</h1><br>
    <p style="color: white">blablabla</p>
</div>
{% endblock %}